/***********************************
 ******** About US CSS Code ********

 1. About section
 2. Company section
 3. Cards section
 **********************************/

@import "_app";
@import "_components/card";

/****************************
 **** 1. About section *****
 ***************************/

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 300px;
  background-color: #c7c7c7;
  background-repeat: no-repeat;
  background-size: cover;

  .about-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 -70px 40px #00000012;
  }

  h1 {
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    z-index: 10;
    margin: 10px 0 7px;
  }
}

/****************************
 **** 2. Company section ****
 ***************************/
.company-section {
  background-image: url("/assets/images/about-shape-bg.png");
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-size: cover;

  .company-section__data {
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
      padding-right: 40px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  .data-img {
    max-width: 550px;
    width: 100%;
  }
}

/****************************
 ***** 3. Cards section *****
 ***************************/
.cards-section {
  text-align: center;
  text-transform: uppercase;
}
