/***********************************
 ******** About US CSS Code ********

 1. Company section
 2. Cards section
 **********************************/

@import "_app";
@import "_components/card";

/****************************
 **** 1. Company section ****
 ***************************/
.company-section {
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-size: cover;

  .company-section__data {
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
      padding-right: 40px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  .data-img {
    max-width: 550px;
    width: 100%;
  }
}

/****************************
 ***** 2. Cards section *****
 ***************************/
.cards-section {
  text-align: center;
  text-transform: uppercase;

  &.story {
    .card .card-body .card-title {
      text-transform: none;
    }
  }
}
