/***********************************
 ******** About US CSS Code ********

 1. Company section
 2. Cards section
 3. Senior management
 **********************************/

@import "_app";
@import "_components/card";

/****************************
 **** 1. Company section ****
 ***************************/
.company-section {
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-size: cover;

  .company-section__data {
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
      padding-right: 40px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  .data-img {
    max-width: 550px;
    width: 100%;
  }
}

/****************************
 ***** 2. Cards section *****
 ***************************/
.cards-section {
  text-align: center;
  text-transform: uppercase;

  &.story {
    .card .card-body .card-title {
      text-transform: none;
    }
  }
}

/****************************
 *** 3. Senior management ***
 ***************************/
.senior-management {
  margin-bottom: 25px;
  padding-left: 10px;
  border-left: 2px solid $brand-primary;
  border-radius: 2px;

  &__name {
    color: #1f4388;
    font: 18px $font-family-title;
    margin-bottom: 5px;
  }
}

.advisory-img-box {
  position: relative;
  max-width: 1070px;
  margin: 0 auto;

  &__note {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: $brand-primary;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
  }
}