/************************************
 ********* Careers CSS Code *********

 1. Careers section
 ***********************************/

@import "_app";
@import "_components/card";

/****************************
 **** 1. Careers section *****
 ***************************/
.border-text {
  font-weight: bold;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0;
  margin-bottom: 10px;
}