/************************************
 ********* Careers CSS Code *********

 1. Careers section
 2. Working with us
 ***********************************/

@import "_app";

/****************************
 **** 1. Careers section *****
 ***************************/
.border-text {
  font-weight: bold;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0;
  margin-bottom: 10px;
}

/*****************************
 **** 2. Working with us *****
 ****************************/
.company-data-box {
  display: flex;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  width: 330px;
  margin: 0 auto 15px;
  border-radius: 5px;

  &__icon {
    width: 50px;
    margin-right: 10px;
  }

  &__info-number {
    color: #1f4388;
    font-size: 20px;
    font-family: $font-family-title;
    font-weight: bold;
  }
}

section.why-invest-section {
  background-color: #f6f5f5;
  margin-top: -2px;
}

.disclaimer-section.top-bg-section {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
}

.opportunities-box {
  display: flex;
  justify-content: space-between;
  text-align: center;

  @media (max-width: $tablet) {
    flex-wrap: wrap;
  }

  .opportunities-item {
    width: 170px;
    background: #ffffff;
    border: 1px solid #0000001f;
    padding: 40px 20px;
    border-radius: 5px;
    margin: 0 7px;

    @media (max-width: $tablet) {
      width: 100%;
      margin-bottom: 15px;
    }

    .desc {
      margin-top: 10px;
    }

    .num {
      text-transform: uppercase;
      color: #1f4388;
      font-family: Optima, sans-serif, Arial;
      font-size: 36px;
      line-height: 1;
    }
  }
}
