/********************************
 ****** Investors CSS Code ******

 1. Cards section
 2. Contact section
 *******************************/

@import "_app";
@import "_components/contact-form";

/****************************
 ***** 1. Cards section *****
 ***************************/
.cards-section {
  text-align: center;
  text-transform: uppercase;

  .card .card-body .card-title {
    text-transform: none;
  }
}

/****************************
 **** 2. Contact section ****
 ***************************/
.contact-section {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  .default-h2 {
    font-size: 30px;

    @media (min-width: $tablet) {
      max-width: 250px;
      text-align: left;
    }
  }

  &__name {
    color: #545454;
    font-weight: bold;
    font-size: 16px;
  }

  &__desc,
  &__data {
    color: #717171;
  }

  &__data {
    align-items: center;
    margin-right: 15px;
  }

  &__data-icon {
    background: #4c9e45;
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.media-bg-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
