/*********************************
 ****** Key financials Code ******

 1. Filter style
 2. Table section
 ********************************/

@import "_app";
@import "_components/card";

/***************************
 ***** 1. Filter style *****
 **************************/
.key-finance-wrap {
  .key-filtr {
    display: flex;
    justify-content: end;

    a:not(.open-dropdown) {
      text-transform: uppercase;
      @extend .btn;
    }

    .filtrs {
      width: 230px;
      margin-right: 20px;
      position: relative;
      display: flex;
      justify-content: space-between;

      &.show-menu {
        ul {
          display: block;
        }
      }

      a {
        padding: 9px 23px;
        border: 1px solid #c5c5c5;
        font-size: 14px;
        color: #373737;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        width: 230px;
      }

      ul {
        margin: 0;
        padding: 10px 0;
        border: 1px solid #c5c5c5;
        display: none;
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 30px #0129701a;

        li {
          display: flex;
          justify-content: space-between;
          padding: 7px 23px;
          list-style: none;
          cursor: pointer;

          &:after {
            display: none;
          }

          label {
            font-size: 14px;
            font-weight: bold;
            margin: 0;
          }

          input {
            width: 15px;
            display: flex;
          }
        }
      }
    }

    .dwn-btn {
      padding: 10px 16px;
      padding-left: 45px;
      font-size: 14px;
      color: #ffffff;
    }
  }
}

/****************************
 ***** 2. Table section *****
 ***************************/
.table-section {
  .table-data {
    width: 100%;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: 0 0 30px #0129701a;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%;

    @media (max-width: $tablet) {
      display: block;
      overflow-x: auto;
    }

    thead {
      background: $brand-primary;
    }

    tbody {
      tr {
        border-bottom: 1px solid #e8e8e8;

        &:last-child {
          border-bottom: none;
        }

        &:first-child {
          td {
            padding-top: 17px;
          }
        }
      }
    }

    th {
      padding: 5px 20px;
      color: #ffffff;
      font-family: $font-family-sans-serif;
      font-weight: normal;

      &:first-child {
        @media (min-width: $tablet) {
          width: 40%;
        }
      }

      &:nth-child(2) {
        background: #489641;
      }

      &:nth-child(3) {
        background: #448e3e;
      }

      &:nth-child(4) {
        background: #41863b;
      }
    }

    td {
      padding: 7px 20px;
    }
  }
}
