/***********************************
 ******* Operations KRI Code *******

 1. Company section
 2. Overview block
 3. Cards section
 4. Sustainability
 **********************************/

@import "_app";
@import "_components/card";

/****************************
 **** 1. Company section ****
 ***************************/
.company-section {
  padding-bottom: 120px;
  background-repeat: no-repeat;
  background-size: cover;

  .company-section__data {
    display: flex;
    align-items: center;

    @media (min-width: $tablet) {
      padding-right: 40px;
    }

    @media (max-width: $tablet) {
      margin-bottom: 30px;
    }
  }

  .data-img {
    max-width: 550px;
    width: 100%;
  }
}

.content-vertical-center {
  display: flex;
  align-items: center;

  h2 {
    width: 100%;
  }
}

/*****************************
 ***** 2. Overview block *****
 ****************************/
.overview-blocks {
  .overview-item {
    width: 330px;
    background: white;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;

    &__img {
      margin-right: 10px;
      width: 47px;
      display: flex;
      align-items: center;
    }

    &__pre-title {
      width: 100%;
      margin-bottom: 5px;
    }

    &__title-main {
      color: #1f4388;
      line-height: 0.8;
      font-size: 27px;
      font-family: $font-family-title;
      margin-right: 3px;
    }

    &__title-info {
      color: $brand-primary;
      font-family: $font-family-title;
    }
  }
}

/****************************
 ***** 3. Cards section *****
 ***************************/
.cards-section {
  text-align: center;
  text-transform: uppercase;

  &.story {
    .card .card-body .card-title {
      text-transform: none;
    }
  }
}

/*****************************
 ***** 4. Sustainability *****
 ****************************/
.reports-section {
  .reports-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
      padding: 10px 25px;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      margin-right: 10px;
      background: transparent;
      transition: 350ms;
      cursor: pointer;
      margin-top: 15px;

      &:hover, &.is-active {
        background: $brand-primary;
        border-color: $brand-primary;
        color: #ffffff;
      }
    }
  }

  .reports-links {
    background: #ffffff;
    box-shadow: 0 0 7px #0000001a;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;

    &__item {
      display: none;

      &.is-active {
        display: block;
      }

      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000000;
        text-decoration: none;
        font-weight: bold;
        margin-top: 10px;

        &:first-child {
          margin-top: 0;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}