@import "_app";

.line-space-icon-br.bottom-bg {
  margin: 80px auto -50px;
  height: 50px;
}

.line-space-icon-br.top-integrated {
  margin: 80px auto;
  height: 200px;
}

.reports-section.bottom-bg-section {
  padding-bottom: 120px;
}

.cards-section.bottom-bg-section {
  padding-bottom: 120px;
}


/****************************
 ***** 2. Table section *****
 ***************************/
.text-content-section {
  table {
    width: 100%;
    margin-bottom: 30px;
    background: #ffffff;
    box-shadow: 0 0 30px #0129701a;
    border-radius: 6px;
    overflow: hidden;
    max-width: 100%;

    @media (max-width: $tablet) {
      display: block;
      overflow-x: auto;
    }

    thead {
      background: $brand-primary;
    }

    tbody {
      tr {
        border-bottom: 1px solid #e8e8e8;

        &:last-child {
          border-bottom: none;
        }

        &:first-child {
          td {
            padding-top: 17px;
          }
        }
      }
    }

    tr:first-child {
      td {
        padding: 5px 20px;
        color: #ffffff;
        font-family: $font-family-sans-serif;
        font-weight: normal;
        background: #489641;

        &:nth-child(2) {
          background: #489641;
        }

        &:nth-child(3) {
          background: #448e3e;
        }

        &:nth-child(4) {
          background: #41863b;
        }
      }
    }

    td {
      padding: 7px 20px;
    }
  }
}
