.line-space-icon-br.bottom-bg {
  margin: 80px auto -50px;
  height: 50px;
}

.line-space-icon-br.top-integrated {
  margin: 80px auto;
  height: 200px;
}

.reports-section.bottom-bg-section {
  padding-bottom: 120px;
}

.cards-section.bottom-bg-section {
  padding-bottom: 120px;
}