// Global button styles
.btn,
.wpcf7-submit {
  position: relative;
  padding: 0.6rem 1.5rem;
  height: 45px;
  font-weight: 500;
  letter-spacing: 0.025rem;
  border-radius: 4px;
  background: $brand-primary;
  border-color: $brand-primary;
  color: #ffffff;
  transition: $transitionSpeed;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: $font-family-title;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #388532;
  --bs-btn-active-border-color: #388532;

  &:hover,
  &:focus-visible {
    color: #ffffff;
    background: $brand-primary-hover;
    border-color: $brand-primary-hover;
  }

  &.gray {
    background: #00000094;
    border-color: #1b1b1b94;
  }

  &.up {
    text-transform: uppercase;

    img {
      margin-left: 5px;
    }
  }
}

.btn.btn-transparent {
  background: transparent;
  color: #000000;
  border-color: #d3d9e5;

  &:hover {
    color: #ffffff;
    background: $brand-primary-hover;
  }
}

.btn.btn-link {
  background: transparent;
  border: none;
  color: #515151;
  font-weight: bold;
  transition: $transitionSpeed;

  &:hover {
    color: #000000;
    border: none;
    background: transparent;
  }

  .arrow-ic {
    filter: brightness(0%);
    margin-left: 5px;
    transition: $transitionSpeed;
  }

  &.active {
    .arrow-ic {
      transform: rotate(180deg);
    }
  }

  &.pl-0 {
    padding-left: 0;
  }
}

// Progress Button
.btn .dot-pulse {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: revert;
  background: $brand-primary;
  border-radius: 4px;
}

.btn.btn--black .dot-pulse {
  background: black;
}

.btn .dot-pulse span {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  animation: dot-flashing 1s infinite;
  animation-delay: 0.2s;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    display: inline-block;
    background-color: #ffffff;
    content: "";
  }

  &::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    animation: dot-flashing 1s infinite;
  }

  &::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    animation: dot-flashing 1s infinite;
    animation-delay: 0.4s;
  }
}

@keyframes dot-flashing {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
