footer.footer-default {
  position: relative;

  .footer-menu {
    padding: 50px 0 35px;

    &__list {
      margin-bottom: 5px;

      @media (min-width: $tablet) {
        .showDropdownList {
          display: none;
        }
      }
    }

    &__title {
      width: 100%;
      margin-bottom: 5px;
      color: $brand-primary;
      font-size: 18px;
      font-family: $font-family-title;
      text-decoration: none;

      a {
        color: $brand-primary;
        font-size: 18px;
        font-family: $font-family-title;
        text-decoration: none;
      }
    }

    &__links {
      a {
        display: block;
        width: 100%;
        color: #959596;
        text-decoration: none;

        &:hover {
          color: #333333;
        }
      }
    }
  }

  .copyright {
    color: #787878;
    font-size: 0.8rem;
    padding: 1.2rem 0;
    transition: $transitionSpeed;
    border-top: 1px solid #e8e8e8;

    @media (max-width: $tablet) {
      text-align: center;

      .col-12 {
        margin: 0.5rem 0;
      }
    }

    .nav-li-border {
      border-right: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
    }

    .footer-nav {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (max-width: $tablet) {
        justify-content: center;
      }

      li {
        padding: 0 0.5rem;

        a {
          color: #959596;
          text-decoration: none;

          &:hover {
            color: #333333;
          }
        }
      }
    }

    @media (min-width: $tablet) {
      .copyright-text {
        text-align: right;
      }
    }
  }
}

// Mobile footer style
@media (max-width: $tablet) {
  footer.footer-default {
    p {
      margin-bottom: 0;
    }

    .footer-menu {
      padding: 20px 0;

      &__list {
        margin-bottom: 5px;

        &:not(.active) {
          .footer-menu__title {
            border-bottom: 1px solid #00000017;
          }
        }

        .footer-menu__links {
          display: none;
          flex-wrap: wrap;
        }

        &.active {
          .footer-menu__links {
            display: flex;
          }
        }

        .showDropdownList {
          font-size: 30px;
        }
      }

      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.no-list {
          padding: 10px 0;
          border-bottom: 1px solid #00000017;
        }
      }
    }
  }
}
